<%- include('partials/portHeader'); -%>

	<header class="masthead">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-12 mx-auto">
						<p class="intro-text">Let's create something</p>
						<h1 class="brand-heading"></h1>
						<a href="#projects" class="intro-btn js-scroll-trigger" role="button">Projects</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section id="about" class="about-page text-center">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-12 col-lg-7" data-wow-duration="1.2s">
				<img src="assets/img/codeBlock.png" class="rounded imgShadow mb-5 mb-lg-0" alt="An example block of HTML code">
				</div>
				<div class="col-12 col-lg-5" data-wow-duration="1.2s">
					<h1>About Me</h1>
					<div>Hi, I'm Keith! <br><br> Full-stack web developer and software engineer working out of Sioux Falls, SD.</div>
					<div>Since my very first, "Hello World!" I've been fascinated with code. I am a self-taught developer learning new languages through bootcamps and online resources.</div>
					<div>In my free time, I can often be found behind a keyboard - coding! I also enjoy time outdoors: hiking, biking, swimming and time with family and friends are a few choice activities.</div>
					<br>
					<div>Below you'll find a selection of some of my most recent projects that showcase the technologies I work closely with. Feel free to say, "Hi!" and see what I can do for you. I look forward to connecting with you and working on your next project!</div>
						<a href="https://github.com/Grill3dCheese" target="_blank" class="wow fadeInDown btn-floating gold accent mt-5">
							<i class="fab fa-github"></i>
						</a>
						<!--<a href="#" target="_blank" class="wow slideInRight btn-floating gold accent mt-5">-->
						<!--	<i class="fab fa-linkedin"></i>-->
						<!--</a>-->
				</div>
			</div>
		</div>
	</section>

	<section id="info" class="info-bar text-center">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="wow fadeIn col-md-4 mb-4 mb-md-0" data-wow-delay="0.3s">
					<i class="far fa-calendar-alt fa-2x pb-4 golden"></i>
					<h3>Current Availability</h3>
					<hr>
					<a class="btn contact-btn js-scroll-trigger" href="#contact" role="button">I'm open, let's collaborate!</a>
				</div>
				<div class="wow fadeIn col-md-4 mb-4 mb-md-0" data-wow-delay="0.4s">
					<i class="fas fa-question fa-2x pb-4 golden"></i>
					<h3>How Can I Help</h3>
					<hr>
					<p>
						From personal portfolio pages to sites for your business, special occasion and everything in between. I'm here to help with any project, any size!
					</p>
				</div>
				<div class="wow fadeIn col-md-4" data-wow-delay="0.5s">
					<i class="fas fa-code fa-2x pb-4 golden"></i>
					<h3>A few tools I use</h3>
					<hr>
					<p class="pt-1">
						<i class="fab fa-npm fa-2x mr-3 mb-3"></i>
						<i class="fab fa-github fa-2x mr-3"></i>
						<i class="fab fa-bootstrap fa-2x mr-3"></i>
						<i class="fab fa-html5 fa-2x mr-3"></i>
						<br>
						<i class="fab fa-css3-alt fa-2x mr-3"></i>
						<i class="fab fa-js-square fa-2x mr-3"></i>
						<i class="fab fa-node-js fa-2x mr-3"></i>
						<i class="fab fa-react fa-2x"></i>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="projects" class="project-page text-center">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-md-10 col-xl-6 mx-auto">
					<h2>
						My Projects
					</h2>
					<p>
						<span>Below you'll find a collection of recent projects I've worked on.</span>
					</p>
				</div>
			</div>
			<div class="row pt-5">
				<div class="col-lg-4 align-self-start">
					<div class="card card-overlay slender">
						<div class="view view-overlay overlay">
							<img src="assets/img/yelpcampDemo.png" alt="YelpCamp Project Animated Image" class="card-img-top">
						</div>
						<div class="card-body card-body-overlay text-center">
							<h4 class="card-title">
								<strong>YelpCamp</strong>
							</h4>
							<h5 class="pb-2">
								<strong>Developed Using:</strong> <br> HTML5, CSS3, Bootstrap 4, NodeJS/JS, MongoDB & templated using Express
							</h5>
							<a href="https://github.com/Grill3dCheese/yelp-camp" class="btn project-btn" target="_blank" role="button">Source Code</a>
							<a href="https://nameless-eyrie-68240.herokuapp.com/" class="btn project-btn" target="_blank" role="button">Live Demo</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 align-self-end mt-4 mt-lg-0">
					<div class="card card-overlay slender">
						<div class="view view-overlay overlay">
							<img src="assets/img/gameDemo.png" alt="YelpCamp Project Animated Image" class="card-img-top">
						</div>
						<div class="card-body card-body-overlay text-center">
							<h4 class="card-title">
								<strong>RGB Color Game</strong>
							</h4>
							<h5 class="pb-2">
								<strong>Developed Using:</strong> <br> HTML5, CSS3 & Vanilla Javascript
							</h5>
							<a href="https://github.com/Grill3dCheese/color-game" class="btn project-btn" target="_blank" role="button">Source Code</a>
							<a href="https://keithmckenna.com/colorgame/" class="btn project-btn" target="_blank" role="button">Live Demo</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 align-self-start mt-4 mt-lg-0">
					<div class="card card-overlay slender">
						<div class="view view-overlay overlay">
							<img src="assets/img/blogDemo.png" alt="YelpCamp Project Animated Image" class="card-img-top">
						</div>
						<div class="card-body card-body-overlay text-center">
							<h4 class="card-title">
								<strong>Blog Web App</strong>
							</h4>
							<h5 class="pb-2">
								<strong>Developed Using:</strong> <br> HTML5, CSS3, Bootstrap 4, NodeJS/JS, MongoDB & templated using Express
							</h5>
							<a href="https://github.com/Grill3dCheese/blog-app" class="btn project-btn" target="_blank" role="button">Source Code</a>
							<a href="https://fathomless-harbor-37996.herokuapp.com/posts" class="btn project-btn" target="_blank" role="button">Live Demo</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<section id="contact" class="contact-page">
	<div class="container-fluid">
		<!-- Section heading -->
		<h2 class="font-weight-bold text-center mb-5">Contact Me</h2>
		<!-- Section description -->
		<p class="text-center mx-auto pb-5">Feel free to use the contact form below to reach out to me. <br> If forms aren't your thing, no problem! Send me an email at <a href="mailto:hello@keithmckenna.com?&subject=Howdy!&body=Hey Keith! How's it going?">hello@keithmckenna.com</a></p>

		<!-- Grid row -->
		<div class="row justify-content-center">

			<!-- Grid column -->
			<div class="wow slideInLeft col-lg-4 mb-lg-0 mb-4">

				<!-- Form with header -->
				<div class="card">
					<div class="card-body">
						<!-- Header -->
						<div class="form-header gold accent">
							<h4 class="mt-2">
								<i class="fas fa-envelope"></i> Write to me:</h4>
						</div>
						<p class="dark-grey-text">I typically reply to every message within 24 hours.</p>
						<!-- Body -->
						<form action="/contact" id="contact-form" method="post" role="form">
							<fieldset>
								<div class="contact-form">
									<i class="fas fa-user prefix grey-text"></i>
									<input type="text" id="name" name="name" class="form-control" required>
									<label class="form-control-placeholder" for="name">Your Name</label>
								</div>
								<div class="contact-form">
									<i class="fas fa-envelope prefix grey-text"></i>
									<input type="email" id="email" name="email" class="form-control" required>
									<label class="form-control-placeholder" for="email">Your Email</label>
								</div>
								<div class="contact-form">
									<i class="fas fa-tag prefix grey-text"></i>
									<input type="text" name="subject" id="subject" class="form-control" required>
									<label class="form-control-placeholder" for="subject">Subject</label>
								</div>
								<div class="contact-form">
									<i class="fas fa-pencil-alt prefix grey-text"></i>
									<textarea name="message" id="message" class="form-control contact-textarea" rows="3" required></textarea>
									<label for="message" class="form-control-placeholder">Send Message</label>
								</div>
								<div class="contact-form">
									<i class="fas fa-robot prefix grey-text"></i>
									<input type="number" name="verification" id="verification" class="form-control" step="1" min="0" max="10" pattern="\d*" required>
									<label class="form-control-placeholder" for="verification">Bot verification: what is four plus three?</label>
								</div>
								<div class="text-center">
									<button class="btn contact-btn submit-btn dark">Submit</button>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
				<!-- Form with header -->

			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="wow slideInRight col-lg-5">

				<!--Google map-->
				<div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
					<iframe src="https://maps.google.com/maps?q=Sioux%20Falls&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<!-- Buttons-->
				<div class="row text-center">
					<div class="col-md-4">
						<div class="btn-floating gold accent">
							<i class="wow fadeInDown fas fa-map-marker-alt"></i>
						</div>
						<p>Located:</p>
						<p class="mb-md-0">Sioux Falls, SD</p>
					</div>
					<div class="col-md-4">
						<a href="sms:+16057772434&body=Hi Keith! I'm currently on your website and I'd like to connect with you." class="btn-floating gold accent">
							<i class="wow tada fas fa-phone"></i>
						</a>
						<p>Send me a text:</p>
						<p class="mb-md-0">Tap the phone icon above</p>
					</div>
					<div class="col-md-4">
						<div class="btn-floating gold accent">
							<i class="wow swing fas fa-clock"></i>
						</div>
						<p>Replies to inquiries between:</p>
						<p class="mb-0">Sun - Sat: 8:00AM - 9:00PM CST</p>
					</div>
				</div>

			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row -->

	</div>
	<!-- Container-fluid end -->

</section>

	<footer id="call-to-action" class="cta image-box" style="--image-url: url(../assets/img/desk.png)">
		<div class="container">
			<div class="row text-center">
				<div class="col-12">
                <p>Created w/ <i class="fab fa-node-js"></i> <i class="fab fa-html5"></i> <i class="fab fa-css3-alt"></i> <i class="fab fa-bootstrap"></i></p>
               
                <!--Copyright-->
                <div class="footer-copyright text-center">
                    © 2020 Copyright:
                    <a href="https://www.keithmckenna.com"> keithmckenna.com </a>
                </div>
                <!--/.Copyright-->
				</div>
			</div>
		</div>
	</footer>

<%- include('partials/portFooter'); -%>